table{
    border-collapse:collapse ;
    border: #fff;
    background-position: center;
    margin-top: 30px;
    color: #fff;
    background-image: url(/html-css/images/port-6587129_1280.jpg);
    background-size:cover;
}


th{
    padding: 10px;
}

td{
    padding: 10px;
}

img{
    border-radius: 10px;
}

a{
    color: #fff;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    background-color: blue;
    font-weight: 600;
}

